body {
    background: black;
    margin: 0;
    padding: 0;
    height: 200vmin;
  }

  .outer{
    display: flex;
  }

  .model{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    width: 100%;
    top: 10rem;
  }

  .droppable{
    position: relative;
    margin: auto;
    margin-top: -1rem;
    top: 0;   left: 0;   right: 0;   bottom: 0;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    background-color: transparent;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
} 
  .planet{
    height: 3.5rem;
    width: 3.5rem;
    display: none;
  }

  .sun {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: ccircle 20s infinite linear;
    height: 12vmin;
    width: 12vmin;
  }

  .character{
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 2px solid white;
    min-height: fit-content;
    padding: 1rem;
    right: 0;
  }

  .character img{
    width: 100%;
    height: 30%;
  }
  
  .p-orbit{
    border: 0.22vmin dashed white;
    opacity: 1;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #belt {
    height: 90vmin;
    width: 90vmin;
    animation: ccircle 50s infinite linear;
    margin-top: 50vmin;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }  
  /* .mercury-revolve,.venus-revolve,.earth-revolve,.mars-revolve,.jupiter-revolve,
.saturn-revolve,.uranus-revolve,.neptune-revolve{
  border: 0.22vmin dashed rgba(128, 128, 126, 0.984);
  opacity: 1;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

  /* .venus-revolve{
    opacity: 1;
    animation: ccircle 5s infinite linear;
  } */

  @keyframes circle {
    from {
      -webkit-transform: rotateZ(0deg)
    }
    to {
      -webkit-transform: rotateZ(360deg)
    }
  }

@keyframes ccircle {
from {
    -webkit-transform: rotateZ(360deg)
}
to {
    -webkit-transform: rotateZ(0deg)
}
}